<h1>New Employee</h1>

{{paper-text type='text' label='First Name' value=model.firstName model=employee}}
{{paper-text type='text' label='Last Name' value=model.lastName model=employee}}

{{model.firstName}}
{{model.lastName}}

{{#paper-button action="employeeDidChange" target=component model=employee}}Save{{/paper-button}}

<button {{action "employeeDidChange"}}> Save </button>
{{#paper-button action="showModal" target=component bubbles=false}}Toggle Modal{{/paper-button}}

{{#if isModalVisible}}
  {{#modal-dialog  alignment="center"
                  translucentOverlay=true
                  close="closeModal"}}
  {{component modalDialogName modalContext=modalContext }}

{{paper-text label="First Name" value=model.firstName}}
{{paper-text label="Last Name" value=model.lastName}}
{{paper-text label="Title" value=model.title}}
{{paper-text label="Department" value=model.department}}
<br>
<br>
{{#paper-button action="closeModal"}}Cancel{{/paper-button}}
{{#paper-button action="employeeDidChange"}}Save{{/paper-button}}
{{/modal-dialog}}
{{/if}}
