<table>
<thead>
<tr>
      <th>Name</th>
      <th>Title</th>
      <th>Department</th>
      <th>  || </th>
      <th>Course Title</th>
      <th>Delete User</th>
</tr>
</thead>

<tbody>
 {{#each model as |employee|}}

 <tr>
      <td>{{model.firstName}}</td>
      <td>{{model.title}}</td>
      <td>{{model.department}}</td>
      <td> || </td>
      <td>{{doc.expiration}}</td>
      <td>{{#paper-button action="deleteEmployee"}}Delete{{/paper-button}}</td>
</tr>
 {{/each}}

 {{#paper-content}}
 {{outlet}}
 {{/paper-content}}

</tbody>
</table>
