

<h1>New model</h1>

{{input value=model.firstName}}
{{input value=model.lastName}}

{{!-- Just for testing --}}
{{model.firstName}} model.firstName<br>
{{model.lastName}} model.lastName<br>
{{!-- Just for testing--}}


{{#paper-button action="save" model=model}}  Save  {{/paper-button}}


{{#paper-button action="showModal"}}Toggle Modal{{/paper-button}}

{{#if isModalVisible}}
  {{#modal-dialog  alignment="center"
                  translucentOverlay=true
                  close="closeModal"}}
  {{component modalDialogName modalContext=modalContext }}

{{paper-text label="First Name" value=model.firstName}}
{{paper-text label="Last Name" value=model.lastName}}
{{paper-text label="Title" value=model.title}}
{{paper-text label="Department" value=model.department}}
<br>
<br>
{{#paper-button action="closeModal"}}Cancel{{/paper-button}}
{{#paper-button action="employeeDidChange"}}Save{{/paper-button}}
{{/modal-dialog}}
{{/if}}

{{#paper-content}}
{{outlet}}
{{/paper-content}}
